body{
	background-image:url(images/shuiguo_daquan-071.jpg);
	


}
input{
	position:absolute;
	left:260px;
	top:25px;
	height:50px;
	width:260px;
}


span{
	position:absolute;
	left:520px;
	top:25px;
	
}
#nav{

	position:absolute;
	left:620px;
	top:25px;
	padding-color:red;

}
.top{
	float:left;
	color:orange;
	width:72px;
	height:15px;
	font-size:17px;
	margin:5px;
}
.on{
	float:left;
	margin:5px;
	font-size:20px;
	color:green;
	height:200px;
	width:248px;
}

li{
	text-decoration:none;
	font-size:15px;
}
#foot{
	width:1350px;
	float:left;




}

a{
	text-decoration:none;
}
#black{
	color:black;
}
