body{
	font:12px 宋体；
	font-color:#522a06;
	background:url(image/bodybg.gif);
}
a:link{
	text-decoration:none;
	font-color:#522a06;
}
a:hover{
	text-decoration:underline;
}

div{
    border-style: none;
}
 